.list-div {
  background-color: #e1e4e6;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.list-div h2 {
  margin-left: 2.25rem;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 1rem;
  list-style: none;
  background-color: hwb(206 100% 1%);
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: large;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: hwb(206 80% 1%);
  cursor: pointer;
}

.recipe-buttons button {
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 0.75em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button {
  background-color: rgba(220, 20, 60, 0.618);
}

.edit-button {
  background-color: rgba(0, 100, 0, 0.618);
}

.delete-button:hover {
  background-color: rgba(220, 20, 60, 1);
}

.edit-button:hover {
  background-color: rgba(0, 100, 0, 1);
}
